.cv-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 800px;
  min-height: 1000px;
  background-color: #ffffff;
  border: 1px solid rgb(175, 175, 175);
  box-shadow: 0px 4px 15px -3px #000000;
  padding: 1.3rem;
  gap: 1.2rem;
}

.edit-button {
  position: absolute;
  left: 730px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: hsl(0, 53%, 58%);
  color: white;
  cursor: pointer;
  z-index: 1;
}

.edit-button:hover {
  background-color: hsl(0, 69%, 72%);
}

.edit-button:active {
  background-color: hsl(0, 45%, 49%);
}

.cv-professional-list,
.cv-education-list {
  min-height: 210px;
}
