form {
  background-color: hsl(0, 0%, 100%);
  height: fit-content;
  width: 900px;
  border: 1px solid hsl(0, 0%, 0%);
  margin: 1rem;
  padding: 1rem;
}

label {
  display: block;
  padding: 1rem 0 0.25rem;
  text-transform: uppercase;
  text-align: left;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 2px solid hsl(240, 81%, 84%);
  padding: 0.5rem;
  font-size: 18px;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 3px solid hsl(240, 100%, 50%);
}

.personal-section,
.company-info,
.education-info {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
}

.form-personal-header,
.form-professional-header,
.form-education-header {
  width: 40%;
  margin: auto;
  border-bottom: 4px solid black;
  border-radius: 2px;
}

.phone-and-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'phone-label email-label'
    'phone       email';
}

.phone-and-email > .phone-label {
  grid-area: phone-label;
}

.phone-and-email > #phone {
  width: 90%;
  grid-area: phone;
}

.personal-section > .email-label {
  grid-area: email-label;
}

.personal-section > #email {
  grid-area: email;
}

.dates {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'start-label end-label'
    'startDate   endDate';
}

.dates > .start-label {
  grid-area: start-label;
}

.dates > #start-date {
  width: 90%;
  grid-area: startDate;
}

.dates > .end-label {
  grid-area: end-label;
}

.dates > #end-date {
  grid-area: endDate;
}

.submitBtn {
  height: 60px;
  width: 110px;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  background-color: hsl(46, 100%, 62%);
  color: hsl(0, 0%, 0%);
  border: 3px solid hsl(0, 0%, 100%);
  border-radius: 5px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: hsl(46, 100%, 38%);
}

.submitBtn:active {
  background-color: hsl(46, 89%, 70%);
}
